.ql-button {
    width: 42px !important;
}

.ql-myDropDown {
    width: 108px !important;
}

.ql-picker.ql-myDropDown .ql-picker-label:before {
    content: "Buttons";
    /* never changes its content as this menu's label changes */
}

.ql-myDropDown .ql-picker-item:before {
    content: attr(data-label);
}

.ql-mybutton {
    text-align: center;
}

/* p:has(a) {
    text-align: center;
} */

.w-caption {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}

.sub-div {
    font-size: 20px;
    margin: 10px;
}

.sub-div a {
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 6px !important;
    text-decoration: none !important;
    border-radius: 3px !important;
    cursor: pointer;
}

.dropdown {
    display: inline;
    position: relative !important;
}

.dropdown .menu {
    width: 50px;
}

.menuBtn {
    display: flex !important;
}

.svgBtn {
    width: 16px;
}

.items {
    font-size: 14px;
    width: 180px !important;
    background-color: white;
    padding: 2px !important;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    z-index: 1 !important;
    position: absolute !important;
    top: 120% !important;
    left: 0 !important;
}

.items button {
    width: 100% !important;
    height: max-content !important;
    display: block !important;
    margin-bottom: 5px !important;
}

.myContainer {
    padding: 10px !important;
    width: 30%;
    border: 1px solid;
    line-height: 18px;
    height: 240px;
    overflow-y: auto;
}

.myContainer-head {
    padding-bottom: 6px !important;
    color: #0000F2;
    font-weight: 600;
}

.myContainer-title {
    padding-bottom: 6px !important;
    color: #000000;
    font-size: 28px;
}